services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: fitnessdb
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data/

  mongodb:
    image: mongo
    container_name: mongo_db
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: 123
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db/

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: 123
    ports:
      - '5672:5672'
      - '15672:15672'
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq/

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    command: >
      start-dev
      --http-port=8181
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin123
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://postgres_db:5432/fitnessdb
      KC_DB_USERNAME: admin
      KC_DB_PASSWORD: 123
    ports:
      - '8181:8181'
    depends_on:
      - postgres
    restart: always

volumes:
  postgres_data:
  mongo_data:
  rabbitmq_data:
