spring:
  application:
    name: ai-service
  data:
    mongodb:
      uri: mongodb://admin:123@localhost:27017/aidb?authSource=admin

server:
  port: 8083

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/